:root{
    --font-sans-serif: 'Open Sans', sans-serif;  
    --font-condensed: 'Barlow Condensed', sans-serif;
    --font-script: 'Pacifico', cursive;
    --teal: #75e0b8;
    --black: #000;
    --white: #fff;
    --light-gray: #eeeeee;
    --mid-gray: #bbbbbb;
    --dark-gray: #aeaeae;
}
a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none!important;
}

html {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
}
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

/* Typography */

body{
    font-family: var(--font-sans-serif); 
    width: 100%;
    color: var(--white);
}
b{
  font-family: var(--font-script);
  font-size: 20px;
line-height: 50px;
}
h1,h2,h3,h4,h5,h6{
    line-height: 2;
    margin: 0;
    display: block;
    font-size: 2.25;
}

h2, h3{
    font-family: var(--font-condensed);
    letter-spacing: .1rem;
    font-size: 5rem;
    line-height: 2rem;
    font-weight: 700;
    letter-spacing: .01;
    color: var(--white);
}

h2 {
    text-transform: uppercase;
    line-height: .9em; 
    color: var(--white);
    text-align: center;
    padding: 15px 0 25px;
    }
h3 {
    font-size: 3rem;
    color: var(--white);
    padding: 10px 0; 
    text-align: center;
    }
h4{
    font-size: 2rem;
    color: var(--white);
    font-family: var(--font-script);
    text-align: center;
  }
h5{
    font-family: var(--font-condensed);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: center;
    font-size: 19px;
    color: var(--black);
  }
h6{
    font-size: 17px;
    color: #fff;
    font-family: var(--font-script);
    text-align: center;
  }

img{
    display: block;
    max-width: 100%;
}

/**
* Briefcase Size*/
.fas.fa-briefcase{
  font-size: 26px;
  margin-top: -5px;
}

.body-copy{
  font-size: 14px;
  background-color: var(--black);
  color: var(--white);
  padding: 10px;
  margin: 0;
}
/**
* Components*/
.component{
    margin-bottom: 50px;
}

.component-page__title{
    font-family: var(--font-sans-serif);
    font-weight: 700;
    font-size: 5rem;
    background-color: #fff;
    color: #000;
    line-height: 1;
    font-size: 45px;
    margin: 30px 0;
    text-align: left;
}

.component__heading{
    font-family: var(--font-sans-serif);
    font-weight: 400;
    font-size: 1rem;
    background-color: rgb(65, 65, 65);
    color: var(--white);
    line-height: 1;
    font-size: 20px;
    padding: 0.45rem;
    margin: 0;
    position: sticky;
    margin-bottom: 0;
    top: 0rem;
    z-index: 11;
    margin-top: 50px;
    text-align: left;
}

.component__name{
    font-family: monospace;
    font-weight: 400;
     font-size: 1rem;
    background-color: var(--light-gray);
    color: var(--black);
    line-height: 1;
    font-size: 16px;
    padding: 0.5rem;
    z-index: 10;
    margin: 0;
    text-align: left;
}

.component__code {
  border: 1px solid #ccc;
  background: #fff;
  margin: 0;
  padding: 0;
  position: relative;
}

/* resizing of component img so it shows slider*/
.component__img img{
    max-width: initial;
}

.component__img {
  border: 1px solid #ccc;
  margin: 0;
  overflow-x: auto;
  position: relative;
}


/********************
* Atoms */

/**
* CTA Button 
*/
.button__cta{
    font-family: var(--font-sans-serif);
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    border: 3px solid var(--teal);
    overflow: hidden;
    width: auto;
    height: 50px;
    border-radius: 25px;
    line-height: .5em;
    color: var(--teal);
    padding: 18px 25px;
    margin: 10px 10px;
}
a:link .button__cta {
  color: var(--teal)!important;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.button__cta:hover {
  background-color: var(--teal);
  color: var(--white);
  cursor: pointer;
}
/**
* Rewards Button 
*/
.button__rewards button{
    font-family: var(--font-sans-serif);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    /* display: block; */
    overflow: hidden;
    width: 190px;
    height: 60px;
    border-radius: 30px;
    line-height: 2em;
    color: var(--white);
    padding: 0px 0;
    margin: 10px 10px;
    background-color: #8FDDBA;
    border: none;
  }
a:link .button__rewards {
  text-decoration: none;
  color: var(--teal);
  cursor: pointer;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.button__rewards:hover button{
    cursor: pointer;
}

button i{
  color: var(--black); 
  font-size: 20px;
  padding-right: 3px;
  line-height: .2;
  vertical-align: sub;
}

/**
* Support Button 
*/
.button__support button{
    font-family: var(--font-sans-serif);
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    /* display: block; */
    overflow: hidden;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    line-height: 2em;
    color: var(--black);
    padding: 0px 0;
    margin: 10px 10px;
    background-color: #8FDDBA;
    border: none;
  }
a:link .button__support {
  text-decoration: none;
  color: var(--teal);
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.button__support:hover button{
    cursor: pointer;
}

/****************************************************
* Social Section
*/

/* Social Bug */
.social__bug{
  display: flex;
  justify-content: center;
  margin-bottom: -35px;
  z-index: 10;
}

/* Social Buttons */
.social-section{
    background-color: var(--light-gray);
    padding: 35px 0;
    border-top: 6px solid var(--dark-gray);
}
.grid-wrapper.social{
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__social{
    font-family: var(--font-condensed);
    text-transform: uppercase; 
    font-weight: 600;
    font-size: 1.35em;
    height: 65px;
    border-radius: 50px;
    line-height: 2.9em;
    color: var(--dark-gray);
    padding: 0 40px;
    background-color: var(--light-gray);
    border: 1.5px solid #dbdbdb;
    margin: 0 5px;
    text-align: center;
}

.button__social:hover {
    background-color: var(--dark-gray);
    color: var(--white);
    cursor: pointer;
}
/* styling for icons */
.button__social i{
  color: var(--dark-gray);
  vertical-align: baseline;
}

.button__social:hover i{
    color: var(--white);
}

@media (max-width: 995px) {
.button__social{
    padding: 0 20px;
}
}

@media (max-width: 800px) {
.social__content {
    display: none;
}
.button__social{
  width: 6rem;
}
}

/***************************************************
* Ribbon
*/

.ribbon__wrapper {
    position: relative;
    width: 100%;
}

.ribbon:before {
    content: '';
    position: absolute;
    height: 10px;
    width: 30px;
    left: -30px;
    top: 50%;
    margin-top: -5px;
    border-bottom: 2px dotted #000;
    border-top: 2px dotted #000;
}

.ribbon:after {
    content: '';
    position: absolute;
    height: 10px;
    width: 30px;
    right: -30px;
    top: 50%;
    margin-top: -5px;
    border-bottom: 2px dotted #000;
    border-top: 2px dotted #000;
}

.ribbon {
    position: relative;
    padding: 0px 10px;
    color: #fff;
    text-align: center;
    max-width: 200px;
    margin: 0 auto;
    letter-spacing: normal;
    text-transform: none;
}

/**
* .social-list__item
*/


.nav-list, .social-icons{
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s;
  display: inline-block;
  color: var(--white);
}

.social-icon, .component__code{
  text-decoration: none;
  margin: 0 2px;
}
.social-icons:last-child i{
  color: var(--teal);
}

.social-icons:hover,
.social-icons:hover a {
  color: var(--teal);
}
/***************************************************
* Site Nav */


/**
* Nav List */

 .navbar .nav__wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
 }


.navbar{
  background: var(--black);
  height: 50px;
  overflow: hidden;
  position: relative;
}
.nav__wrapper{
    position: relative;
    width: 100%;
    max-width: 75rem;
    margin: auto;
    padding: 0 1.5rem;
}


.nav-list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  cursor: default;
  text-transform: uppercase;
  color: var(--white);
}

.nav-list a{
  display: inline-block;
  text-decoration: none;
  padding: .25rem;
  font-family: var(--font-condensed);
}


/**
* Header and Logo */

.site-header__logo a, .site-header__logo img {
    display: block;
}
.site-header-logo a{ 
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
    display: block;
}

.logo-icon{
     float: left;
    width: 50px;
    height: 50px;
    background: #72dfb8 !important;
}

.logo-text{
    float: left;
    padding: 18px 14px;
    width: 220px;
    display: flex;
}
/* 
.logo-icon a, .logo-text img {
    display: block;
} */

/**
* Hero Section */
.img-container{
  background-image: url("../img/hero-image.jpg");
  height: 80%;
  background-position: center;
  background-repeat: cover;
  position: relative;
}

.inner-container{
  text-align: center;
  /* position: absolute; */
  width: 100%;
  height: auto;
  padding: 80px 0;
}
  
/**
* Badges Section */
.badges-section{
    padding: 40px 0 25px;
    /* background-color: var(--teal); */
}
.grid-wrapper.badges{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: 1fr ;
    grid-gap: 5px;
    margin: 0 70px;
}
.badge {
    color: #fff;
    text-align: center;
}

/**
* Fun Facts Section */
.facts-section{
  background-color: var(--teal);
  padding: 50px;
}
.fun-facts__wrapper{
    display: flex;
    justify-content: center;
}

/**
* Merchandise Section */
.merch-section{
    padding: 40px 65px 25px;
    /* background-color: var(--teal); */
}
.grid-wrapper.merch{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: 1fr ;
    grid-gap: 5px;
    margin: 0 90px;
}

.merch img{
    margin: 18px auto;
    padding: 0 6px;
    width: 10rem;
}

.merch p{
  font-family: 'Bree Serif', serif;
  font-size: .9em;
  color: black;
  text-align: center;
}


/***************************************************
* Section styling */

.component-page .component__name {
  position: sticky;
  top: 2rem;
  z-index: 10;
}

.component__code:before,
.component__img:before {
  content: "CODE";
  display: block;
  padding: 0.25rem;
  line-height: 1;
  font-family: monospace;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: salmon;
  color: var(--#fff);
}

.component__img:before {
  content: "IMG";
}

.component-page {
  display: block;
}

/***************************************************
* Media Queries */
/***************************************************

/**
* Hide Nav List */
@media (max-width: 900px) {
  .nav__wrapper {
    display: none!important;
  }
}


/**
* Show Logo */

@media (max-width: 900px) {
  .logo-icon-show {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background: #72dfb8 !important;
  }
}


/**
* Tic Lines */
@media (max-width: 900px) {
.tic-line.uno {
    top: 15px;
    left: 10px;
}
}

@media (max-width: 900px) {
.tic-line.dos {
    bottom: 15px;
    left: 10px;
}
}

.tic-line {
    position: absolute;
    width: 30px;
    height: 6px;
    background: var(--white);
    border-radius: 50px;
}

@media (max-width: 900px) {
h2 {
   font-size: 4em;
}
}
/************************************
* Ribbon Shrink */

@media (max-width: 900px) {
h4 {
   font-size: 1.75em;
}
}


/*************************************
* Show Briefcase */
@media (max-width: 900px) {
.social-icons-show {
  float: right;
  color: var(--teal)!important;
  margin: -30px 10px 0;
}
}


/*************************************
* Feature Section */

.feature{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "img content";
  background: black;
  color: white;
}

.spotlight__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-area: img;
}

.spotlight__content{
  grid-area: content;
}

.feature-reverse{
  grid-template-areas: "content img";
}
 .feature p{
   text-align: center;
   margin: 30px auto;
   padding: 0 60px;
   line-height: 1.75rem;
 }

@media (max-width: 900px){
   .feature{
    display: block;
    }
    .spotlight__img{
    height: 15rem;
  }
.spotlight__content{
    padding: initial;
  }
}


/*-------------------------------------------- footer styles */

.footer-container{
  background-color: var(--black);
  padding: 50px 0 100px;
}

.footer-row__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr ;
    margin: 0px 15%;
    width: 70%;
}

.footer-column{
  padding-bottom: 100px!important;
}

.footer__column h6{
  text-align: left;
}

.footer__column ul{
  list-style: none;
  font-weight: 300;
  font-size: 13px;
  line-height: 1em;
  color: var(--dark-gray);
  padding: 0;
}

img .big-kid{
  bottom: 0rem; 
  right: 20rem;
  display: block;
  max-width: 200%;
}

/*-------------------------------------------- fixed button styles */
.fixed__buttons .button__rewards{
  position: fixed;
  z-index: 20;
  bottom: 0;
  margin: 0 0 20px 20px;
}
.fixed__buttons .button__support{
  position: fixed;
  z-index: 20;
  bottom: 0;
  right: 0;
  margin: 0 20px 20px 0;
}