:root{
    --font-sans-serif: 'Open Sans', sans-serif;  
    --font-condensed: 'Anton', sans-serif;
    --font-script: 'Pacifico', cursive;
    --teal: #75e0b8;
    --black: #000;
    --white: #fff;
    --light-gray: #eeeeee;
    --mid-gray: #bbbbbb;
    --dark-gray: #918e8f;
}


html {
  box-sizing: border-box;
}
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

/* Typography */

body{
    font-family: var(--font-sans-serif); 
}

h1,h2,h3,h4,h5{
    margin: 20px 0;

}

h1, h2{
    font-family: var(--font-condensed);
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 4.5rem;
    line-height: 2rem;
    font-weight: lighter;
}

h2 {
    font-size: 2.5rem;
    color: #fff;
    background-color: var(--black);
    padding: 10px 0;
}

h3{
    font-family: var(--font-script);
    font-size: 2rem;
    color: #fff;
    background-color: var(--teal);
}

h4{
    font-family: var(--font-condensed) ;
    text-transform: uppercase;
    letter-spacing: .2em;
}

h5{
    font-family: var(--font-script);
    color: #fff;
    background-color: var(--black);
    font-size: 17px;
}

img{
    display: block;
    max-width: 100%;
}

/* Component */
.component img{
    max-width: initial;
    padding: 0 0 5px;
}
.component__img{
    border: 1px solid #ccc;
    overflow-x: auto;
}
.component__code{
    border: 1px solid #ccc;
}

.component_title {
    font-family: var(--font-sans-serif);
    font-size: 1rem;
    background-color: #fff;
    color: #c700b6;
    line-height: 1;

}