<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | Johnny Cupcakes</title>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600&family=Pacifico&display=swap"
        rel="stylesheet"></link>
    <link rel="stylesheet" href="../css/main.css"/>

</head>
<body>
    <h1>Web Components Go Here</h1>

    <h2>Typography Defaults</h2>
    
    <article>
        <h3 class="component_title">body</h3>
        <img src="img/feature-paragraph-default-body-typeface.png" alt="body copy">


        <div class="component__code">
            <p>Learn about Johnny's journey from the trunk of his car, to growing the Johnny Cupcakes t-shirt brand.</p>

        </div>
    </article>



</body>
</html>